[2014-08-11 10:33] pedrobaeza opened #4 "Make 8.0 default branch and remove master"
@gurneyalex Please make the "magic" in this repo :wink:

[2014-08-12 06:50] gurneyalex commented on #4
done

[2014-08-12 06:50] #4 closed, assigned to nobody

[2014-08-14 10:18] yvaucher opened #5 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:27] #5 closed, assigned to nobody

[2014-09-08 08:47] gurneyalex opened #11 "6.1: crash in analytic_multicurrency tests"
Error log:

[code]

[2014-09-08 08:47] gurneyalex opened #12 "6.1 fix flake8"

[2014-09-08 08:53] pedrobaeza commented on #11
I think this can be solve using:

[code]

[2014-09-08 10:16] gurneyalex commented on #11
@pedrobaeza yep. I just submitted a PR for this.

[2014-09-09 09:10] lepistone opened #14 "crash when writing the company when analytic_multicurrency is installed"
To reproduce on v7:
- install `analytic_multicurrency`
- write any field in the company

You get the following crash:

[code]

The traceback points to the method causing the problem: https://github.com/OCA/account-analytic/blob/7.0/analytic_multicurrency/analytic.py#L100-L102.

That breaks because a store trigger in OpenERP is a method of a class which is called as a method of another class. In th

[2014-09-09 09:40] lepistone commented on #14
Thanks @gurneyalex for pointing me to https://bugs.launchpad.net/openobject-server/+bug/893079. Apparently there's no way to override a store trigger. I'll rewrite it then.

[2014-11-03 23:47] #14 closed, assigned to nobody

[2015-03-31 18:25] bjoliveau opened #27 "8.0 account_analytic_required depends"
Maybe this module have to contain a depend with account_accountant  and analytic.

I installed them and didn't get the new features in analytic account for typing it with  policies : always, never and optional.

Is it ready and tested for v8, maybe i missed a parameter...

[2015-04-01 08:33] sbidoul commented on #27
Hi,

The module works fine on 8.0. Note the the configuration field appears on Account Type, not Analytic Account.

-sbi

[2015-04-08 15:56] yvaucher opened #28 "account_analytic_required - name conflict"
This module name conflicts with

https://github.com/Vauxoo/addons-vauxoo/blob/8.0/account_analytic_required/__openerp__.py

Which is registered on apps.odoo.com

@luistorresm is your module the same?

[2015-04-09 04:45] nhomar commented on #28
Hello.

@yvaucher

We made our internal review, and we realize that for some reason this module landed on addons-vauxoo for the time we copied and paste things there.

It is the same module, and we migrated to v8.0 already with 2 or 3 little modifications, I am wondered why it says coded by Luis, I just supose it was an error but we will fix it ASAP in order to ledft only one module on apps (the o

[2015-04-09 07:28] yvaucher commented on #28
@nhomar Great, thanks.

BTW there was few other modules in almost the same conditions:
https://github.com/OCA/department/issues/43
https://github.com/OCA/purchase-workflow/issues/122

(cc @dmo-odoo for apps.odoo.com)

[2015-04-09 07:34] yvaucher commented on #28
@nhomar @luistorresm Just be aware there is another PR on module `account_analytic_required` from @luc-demeyer here https://github.com/OCA/account-analytic/pull/26

[2015-04-15 00:34] AdilHoumadi opened #32 "[MIG] : migration of analytic_secondaxis_* to 8.0"
Modules Will be migrated :
- [ ]  analytic_secondaxis #29
- [ ]  analytic_secondaxis_timesheet #30
- [ ]  analytic_secondaxis_project #31

[2015-06-12 17:15] nhomar commented on #28
@yvaucher

We will make this review in some days sorry for the delay we will try to accelerate the process just too busy.

[2015-06-19 15:21] moylop260 commented on #28
https://github.com/OCA/department/issues/43#issuecomment-113546731

[2015-06-19 15:21] #28 closed, assigned to nobody

[2015-08-12 23:31] #27 closed, assigned to nobody

[2015-08-12 23:33] #11 closed, assigned to nobody

[2015-09-04 16:22] antespi opened #38 "Travis is red because odoo recent change"
Current 8.0 error: https://travis-ci.org/OCA/account-analytic/jobs/77282014#L218
Seems to be related with analytic_multicurrency.

@yvaucher, @guewen could you review this? Thanks

[2015-09-07 08:31] yvaucher commented on #38
@antespi @guewen It seems travis job has been restarted and everything is green. (or am I missing something ?)
Thus I'll close this. We will reopen it with more details if it happens again.

[2015-09-07 08:31] #38 closed, assigned to nobody

[2015-09-07 22:09] antespi commented on #38
All green. Thanks @yvaucher

[2015-10-01 13:15] erocre opened #41 "analytic_partner error message"
I receive the next message when I try to use the filter "Group by: Acount Partner" in Analytic Journal Items:

Traceback (most recent call last):
  File "/opt/odoo/odoo_8/src/OCA/OCB/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo_8/src/OCA/OCB/openerp/http.py", line 574, in dispatch
    result = self._call_fu

[2015-10-04 00:24] #41 closed, assigned to nobody

[2015-10-14 00:18] pedrobaeza opened #43 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] analytic_multicurrency
- [ ] analytic_secondaxis
- [ ] account_analytic_line_list
- [ ] analytic_secondaxis_multicurrency
- [ ] analytic_secondaxis_project
- [ ] analytic_partner_hr_timesheet_invoice
- [ ] analytic_partner
- [ ] account_analytic_required - By @yvaucher - #59
- [ ] analytic_part

[2015-12-16 10:53] gityopie opened #48 "Questions about analytic_secondaxis, analytic_secondaxis_project, analytic_secondaxis_timesheet?"
Hello,

Why those modules has installable False by default?
I tried to make it True, I mean installable = True
but then I got another error (run over odoo v8)

here the log:

 2015-12-16 10:25:04,587 19408 CRITICAL test openerp.modules.module: Couldn't load module analytic_secondaxis
2015-12-16 10:25:04,588 19408 CRITICAL test openerp.modules.module: No module named osv
2015-12-16 10:25:04,588 194

[2015-12-16 10:54] pedrobaeza commented on #48
That's because they are actually not installable because they are not migrated to the version you are trying.

[2015-12-16 10:54] #48 closed, assigned to nobody

[2016-02-23 09:45] dreispt opened #54 "Blueprint: Multi Dimension Analytic Accounts"
Add multidimension analytic accounting to Odoo, by leveraging the already Analytic Account existing features.
Full description: https://gist.github.com/dreispt/d4eccdf998f1d6c9221c

[2016-05-10 13:56] yvaucher commented on #43
Starting to port `account_analytic_required`

[2016-07-19 11:49] sbidoul opened #65 "[9.0] blueprint: account_analytic_parent"
The analytic accounts hierarchy has been removed in v9.

Whereas for G/L accounts, the notion of hierarchy is debatable and I think it was a good thing to remove it, I believe such a concept is useful for analytic accounts.

We would therefore start with a first module named `account_analytic_parent` that reintroduces `parent_id` and `child_ids` on `account.analytic.account`, together with the par

[2016-07-19 12:00] pedrobaeza commented on #65
I have the exact feeling, because the concept is more natural than tags. :+1: for creating it.

[2016-07-19 12:37] fclementic2c commented on #65
+1

(Actually, I am in va favour of totally forking analytic accounting in Odoo)

[2016-07-19 13:02] elicoidal commented on #65
:+1:
(it will probably have to go with project parenting)

[2016-07-19 13:03] sbidoul commented on #65
@fclementic2c me too... but that's another story.

[2016-08-08 12:04] diiman2000 opened #68 "Does Not work"
The module does not work. i added the analytical account on the product page. When i created an invoice and selected the product.it did not automatically fill in the analytical account on the product invoice line, the field was still blank.
Is there something am missing? cos i even tried it on your runbot and its the same thing.

[2016-10-06 12:44] pedrobaeza opened #70 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_analytic_distribution - By @cubells - #100
- [ ] account_analytic_line_list
- [x] account_analytic_no_lines - By @adrienpeiffer - #72
- [x] account_analytic_parent - By @chienandalu - #114
- [x] account_analytic_plan_required > account_analytic_distribution_required - By @cubells - #10

[2016-10-14 17:31] #32 closed, assigned to nobody

[2016-10-21 14:38] pedrobaeza commented on #65
@sbidoul, have you worked something in this topic?

[2016-10-21 14:57] sbidoul commented on #65
@pedrobaeza no, the use case went away for the moment.

[2016-10-21 15:56] pedrobaeza commented on #65
OK, thanks for saying.

[2016-10-21 21:13] levkar commented on #65
Analytic distribution is also removed.  Would it be possible to implement it with a new 'distribution' type and child analytics?

Lack of this feature also disables Project hierarchy, doesn't it?

[2016-10-21 21:14] pedrobaeza commented on #65
Yeah, that features are also desirable, but that means more work...

[2016-11-14 11:44] rafaelbn commented on #54
Hi @dreispt , is there any work on this for OCA in this moment? Thanks!
cc @pedrobaeza

[2016-11-14 14:40] dreispt commented on #54
Hi, I'm pretty sure I won't be able to do any work on this in the foreseeable future.
Be my guest to take over it.

[2016-12-03 10:52] andhit-r opened #75 "Transifex check on travis fails"
Hi @OCA/accounting-maintainers would someone kindly check why transifex check on travis failed (https://travis-ci.org/OCA/account-analytic)? Many thanks

[2016-12-03 11:25] pedrobaeza commented on #75
Travis was incorrectly defined with TESTS=1 as global value. I have fixed it. Please rebase your PR.

[2016-12-03 11:25] #75 closed, assigned to nobody

[2017-02-17 14:55] JordiBForgeFlow commented on #65
We are going to work on this topic (analytic parent, not analytic distribution). @aheficent will be working on it.

[2017-04-01 10:03] #68 closed, assigned to nobody

[2017-04-01 10:03] pedrobaeza commented on #12
Very old and no interest in that version right now, so I close.

[2017-04-01 10:03] #12 closed, assigned to nobody

[2017-04-07 14:20] stellaf commented on #65
analytic parent, would be great. Thanks.

[2017-04-25 09:05] pedrobaeza commented on #65
The base module is now merged, but I see one problem: there's no tree view that uses this information. @jbeficent, don't you think that base module should include the same tree view as it was in v8?

[2017-04-25 11:58] AaronHForgeFlow commented on #65
@pedrobaeza I think you're right. I'll create a new PR with the changes in the view.

[2017-04-25 13:46] AaronHForgeFlow commented on #65
@pedrobaeza is it really needed to add the field parent_id in the tree view? In odoo8 the field is added but is invisible:
![image](https://cloud.githubusercontent.com/assets/19620251/25388483/4e8ce41e-29ce-11e7-9767-f801aa914cec.png)

[2017-04-26 18:51] pedrobaeza commented on #65
I'm not talking of that, but the tree view in tree mode:

![imagen](https://cloud.githubusercontent.com/assets/7165771/25451349/24578eb6-2ac2-11e7-82ac-9ff451d9f02b.png)

[2017-04-28 09:50] dreispt commented on #65
@jbeficent this could be a good opportunity to factor in WBS support.

[2017-04-28 10:12] AaronHForgeFlow commented on #65
I agree @dreispt We're working on that also

[2017-05-08 17:52] pedrobaeza commented on #65
As the module is merged and the functionality restored, I think we can close this. If new features appear, they can be discussed in other issues/PRs.

[2017-05-08 17:52] #65 closed, assigned to nobody

[2017-05-09 11:41] gurneyalex opened #96 "[10.0] analytic_tag_dimension causes WARNING log lines and "red" runbot build"
[code]

[2017-05-09 11:43] gurneyalex commented on #96
@angelmoya could you look into this?

[2017-05-09 11:48] cubells commented on #65
@aheficent @jbeficent

Thanks for adding that hierarchical view tot analytic accounts.

It would be possible to open the same view when you click on Accounting>Adviser>Analytic accounts and open charts?

I think that by doing it's collected better data for accounting advisers.

[2017-05-09 11:51] pedrobaeza commented on #65
I agree, because on that view you have the possibility to pre-filter by dates and then having hierarchical totals. It was that way on v8.

[2017-05-09 11:55] angelmoya commented on #96
OK, field analytic_dimension_id on table account_analytic_tag.

When you install this module, and you have previous analytic tags, this analytic tags has no analytic dimension.

How can we proceed with this?

- Do it not required field
- Create default dimension
- ...

Maybe do it not required could be better

[2017-05-09 11:57] pedrobaeza commented on #96
Other option is to add demo data for existing records that adds these dimensions, but maybe it's better to have the required only in views, not in data. It depends on the reason why you want to have this as required.

[2017-05-09 13:20] gurneyalex commented on #96
the short path is to have the required column added to the demo data of the depending modules.

another possibility is to rework the addon to allow tags to *not* specify a dimension, but this is more work in the addon in my opinion. I'm not sure which way you want to go.

[2017-05-09 13:26] hbrunn commented on #96
what I often do just to satisfy tests is
[code]

[2017-05-12 06:54] Cedric-Pigeon commented on #96
@angelmoya Do you plan to do something ? Several PR are red and blocked because of this. Thanks

[2017-05-12 06:59] angelmoya commented on #96
Sorry Cedric-Pigeon, I had been to busy this week, I will try to do it today

[2017-05-12 07:28] angelmoya commented on #96
#98

[2017-05-31 08:29] #96 closed, assigned to nobody

[2017-10-02 09:19] pedrobaeza opened #132 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_analytic_distribution
- [ ] account_analytic_distribution_required
- [ ] account_analytic_line_list
- [ ] account_analytic_no_lines
- [ ] account_analytic_parent
- [ ] account_analytic_required
- [ ] account_asset_analytic
- [ ] analytic_base_department
- [ ] analytic_department
- [

[2017-10-02 09:20] #132 closed, assigned to nobody

[2017-10-02 14:26] pedrobaeza opened #133 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] account_analytic_default_account - By @i-vyshnevska - #232
- [x] account_analytic_distribution - ~~By @nadiaafa - #142~~ - By @cubells - #184
- [ ] account_analytic_distribution_required
- [ ] account_analytic_line_list
- [ ] account_analytic_no_lines - By @ThomasBinsfeld - #190
- [x] accoun

[2017-10-18 16:35] rafaelbn opened #135 "[RFC] Compare diferent period of the same Analytic Account in amount and %"
Hello all @OCA/accounting-maintainers :

The scope of this development is:

- Analitic account: for ex. Department A/B/C, etc.. or Service A/B/C, etc..
- You can get a dinamic report to compare for ex.

Analytic Account | January 2016 | January 2017 | Diff Jan 2017 | Variation % Jan 2017
------------ | ------------ | ------------- | ------------- | -------------
Service A | 1000 | 1200 | 200 | 20%

[2017-11-09 16:39] jalzaga opened #137 "stock_analytic does not take analytic account from the orders"
If my tests are correct in V10, the module is not really usable since you have to enter manually the analytic account in the stock picking. The analytic account is already set at the sale order header or at purchase order lines, when the pickings are created from those orders, the analytic account (and also the analytic tags) should be transferred to them.
It is not feasible to expect users to ent

[2017-11-09 17:00] JordiBForgeFlow commented on #137
@jalzaga You are right. Module `stock_analytic` should depend on `procurement_analytic`, and pass in `_get_stock_move_values` the analytic account from the procurement from the stock.move.

So, in the end you @jalzaga will need `sale_procurement_analytic`, `stock_analytic` and `procurement_analytic` to be able to pass the analytic account from sales orders to stock moves.

@aheficent can you fix t

[2017-12-20 14:58] nadiaafa commented on #70
Hi @pedrobaeza, is the module purchase_analytic_distribution not needed anymore in v10?

[2017-12-20 15:53] pedrobaeza commented on #70
It's needed, but it's not in the list because it was added in 9.0 after the 10.0 branch creation.

[2017-12-27 13:08] ghost commented on #133
On `analytic_base_department`

[2017-12-27 17:34] ghost commented on #133
On `analytic_tag_dimension`

[2018-01-06 00:27] ccandito opened #150 "mrp_analytic module in version 10"
Dear All,
perhaps I've missed something, but I'm not able to find this module in version 10.
perhaps it has been substituted by some other else.
regards
claudio

[2018-01-06 13:13] pedrobaeza commented on #150
Not migrated.

[2018-01-06 13:13] #150 closed, assigned to nobody

[2018-02-20 11:28] flotho opened #157 "[10.0]Analytic Tag Dimension causes crash during update all"
Hi,
I've successfully installed the module analytic tag dimension, yet when we're updating the db with -u all, the following message occurs.

[code]

As a result we need to recreate manually the view and to update the module "after" account one by one.
Any idea?

[2018-02-21 03:56] dominiquekonsuntack opened #158 "analytic tag dimension - data is not saved in the custom fields"
Odoo 10 Community

How to reproduce
- Create dimension: e.g. District
- Create two tags: e.g North, South

In the database, the field "x_dimension_dis" is created - Accessible through pgadmin
create an invoice, and in the invoice line, select a tag e.g. "North"
Save the invoice
--> in the table account.invoice.line for that record, the field x_dimension_dis is still 'null'

Looking at the code, th

[2018-02-27 10:36] icf20 opened #160 "account_analytic_required lacks proper documentation"
i am testing this modules on http://3317793-11-0-769295.runbot2.odoo-community.org and i cant find the settings put on modules description

can the modules description have the proper A=>B=>C

[2018-02-27 11:52] #160 closed, assigned to nobody

[2018-03-18 15:15] jaredkipe commented on #133
On `stock_analytic` (not on the list?) #161

[2018-03-19 08:38] pedrobaeza commented on #133
@jaredkipe it was merged after the branches were created, but now it's added.

[2018-04-04 16:26] Tonow-c2c commented on #133
@pedrobaeza analytic_department migrated #167

[2018-04-09 07:15] jaumeplanas commented on #133
On `account_analytic_parent` #168

[2018-04-16 09:07] Daniel-CA opened #169 "[8.0]Bug in analytic_multicurrency"
Hi,
I am having an error when computing chart of analytic accounts ```KeyError: 'quantity'``` in ```analytic_multicurrency``` module.
When calling ```_debit_credit_bal_qtty``` looks like that 'quantity' key is lost in ```field_list```, because  the field is not in the tree view ```view_account_analytic_account_tree``` of the project view.

[2018-04-18 09:09] fclementic2c commented on #158
I confirm the issue.

Wondering if it does not come from: https://github.com/OCA/account-analytic/commit/d9fa797c2da31b4197a6e6421a31f3004cd190e1#diff-fd29d4a60e14f0cd6bc10de811b01ee8

However, if you remove this commit then the bug on pivot table on analytic lines will be back :\

cc: @mpanarin

[2018-05-25 13:55] icf20 opened #174 "Account Analytic Required or is buggy or the documentation is lacking"
![image](https://user-images.githubusercontent.com/17784575/40548075-f6ca09a8-6033-11e8-8e02-4809b30197e3.png)

http://3326545-11-0-c40d8e.runbot1.odoo-community.org/web?debug=1#id=5&view_type=form&model=account.invoice&menu_id=239&action=329

does anyone **care** to explain how this should work ?

[2018-05-26 14:29] pedrobaeza commented on #174
If you analyze the message, it's saying the payable account (11100) doesn't have analytic account, and that's true, as that one is never going to have an analytic account. Expenses and income accounts are the one that get the analytic accounts.

[2018-05-26 14:29] #174 closed, assigned to nobody

[2018-05-29 01:02] icf20 commented on #174
@pedrobaeza this why is the option enabled on those ?

[2018-05-29 07:13] pedrobaeza commented on #174
I don't know, but as said, it's not a bug.

[2018-05-31 11:22] #169 closed, assigned to nobody

[2018-06-09 11:15] rousseldenis opened #175 "[10.0] purchase_procurement_analytic: No grouping"
@cubells The module purchase_procurement_analytic does not group purchase orders by analytic. Tested on runbot.

I think that's because the search method is implemented on purchase order lines and not purchase order model.

Moreover it's better not to use the context but use the '_make_po_get_domain' method in procurement.

And for a conclusion, I think the grouping should be an option as sometime

[2018-06-11 09:49] rousseldenis commented on #175
See https://github.com/OCA/account-analytic/pull/176/

[2018-06-11 13:22] pedrobaeza commented on #175
Closing as there's a PR.

[2018-06-11 13:22] #175 closed, assigned to nobody

[2018-06-11 14:26] cubells commented on #175
You are right @rousseldenis
thanks!

[2018-06-29 10:50] ghost opened #181 "analytic_tag_dimension error"
When I try to save a Dimension this traceback appears:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo11e/odoo/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo11e/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])

[2018-06-29 10:55] pedrobaeza commented on #181
Please provide full detailed steps to reproduce the problem on runbot (https://runbot.odoo-community.org)

[2018-06-29 11:35] ghost commented on #181
![01](https://user-images.githubusercontent.com/25029267/42090220-e397024a-7ba0-11e8-88a1-64c370b9c142.png)
![01](https://user-images.githubusercontent.com/25029267/42090243-02cdc356-7ba1-11e8-83f0-9621f86bfd7c.png)
When I try to save it:
![01](https://user-images.githubusercontent.com/25029267/42090287-2d477b90-7ba1-11e8-8da8-ed985078c64c.png)
The traceback in this case is:
Error:
Odoo Server Err

[2018-06-29 11:37] pedrobaeza commented on #181
@angelmoya you were the original author of this. Do you have any clue?

[2018-06-29 11:43] angelmoya commented on #181
I had not seen this error before.

You can get it on runbot?

El vie., 29 jun. 2018 13:37, Pedro M. Baeza <notifications@github.com>
escribió:

[2018-06-29 11:48] ghost commented on #181
These screenshots are from runbot.
![01](https://user-images.githubusercontent.com/25029267/42090849-58663008-7ba3-11e8-9c0a-9b4f7e94f3a9.png)

[2018-07-14 17:18] vinclar opened #185 "[10.0] (purchase_procurement_analytic) Isn't grouping the lines of products with different analytic account on same purchase order for the same supplier"
**Use of case:**
You have five orders with different analytic account from different customers, two different products (A and B) from the same supplier A. Same route applies in this case Make to order

SO 1 from customer A, Analytic_account A - Orders 1 u. Product A and 1 u. Product B
SO 2 from customer B, Analytic_account B  - Orders 3 u. Product A
SO 3 from customer C, with no analytic  - Orders

[2018-07-16 06:53] pedrobaeza commented on #185
I think #179 solves this issue

[2018-07-16 07:40] vinclar commented on #185
Thanks, I just test it.
No changes with the patch, the result still is the same, different purchase quotations for every analytic account.
The commit, what I understood that it does is to solve "If purchase orders were generated through bare procurement orders, generated moves do not contain the analytic account set on procurement." and this case is procurements generated from a sales order. The d

[2018-07-16 17:06] TheRealHatCoder commented on #181
Hi @angelmoya

While trying to save the first time, you get below trace.

[code]

Note that the "SOC" is the code I associated.
![image](https://user-images.githubusercontent.com/30595027/42772610-3edb93cc-892b-11e8-9599-7c8d90ac7a53.png)

@gelo-landoo's trace only appears if you do the same, without restarting Odoo instance.

Hope this helps.

[2018-07-17 06:36] cubells commented on #185
@vinclar I'll review later your information. Thanks.

[2018-08-06 11:03] SalahAdDin commented on #133
On `mrp_analytic`: https://github.com/OCA/account-analytic/pull/186.

[2018-09-10 14:07] ghost commented on #181
Hello @BIZ4Africa ,
Sorry for my late response. When do you have to restart the Odoo instance?Each time a dimension is created?
Thanks,

[2018-09-11 18:24] ray-odoo commented on #133
Tested v10 account_analytic_default_account in v11 Enterprise today.

After changing for Python 3, works great!

Changes:

(1) https://github.com/OCA/account-analytic/blob/10.0/account_analytic_default_account/models/account_analytic_default_account.py#L34

should be instead:
`for key, value in kw.items():`

(2) https://github.com/OCA/account-analytic/blob/10.0/account_analytic_default_account/mod

[2018-09-11 19:27] pedrobaeza commented on #133
@ray-odoo why don't you make a PR?

[2018-09-11 19:44] ray-odoo commented on #133
@pedrobaeza Only lack of time - if I get time I will.

[2018-09-11 19:47] pedrobaeza commented on #133
Yes, please. It would be great!

[2018-09-26 23:35] OCA-git-bot opened #189 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] ~~account_analytic_distribution~~ - Not needed anymore as it's a core feature. Migration scripts in https://github.com/OCA/OpenUpgrade/pull/2001
- [x] account_analytic_distribution_required - By @ernestotejeda - #261
- [x] account_analytic_parent - By @alexey-pelykh - #207
- [x] account_anal

[2018-10-02 07:04] rven commented on #189
Working on migration of account_analytic_required

[2018-10-02 11:45] rven commented on #189
[12.0][MIG] account_analytic_required #192
This module depends on https://github.com/OCA/account-financial-tools/pull/702

[2018-10-02 12:16] AaronHForgeFlow commented on #137
Solved.

[2018-10-02 12:16] #137 closed, assigned to nobody

[2018-10-11 21:16] GrupoAlvamex opened #194 "[10.0] Stock Analytic, When I try to confirm a stock picking"
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-server/odoo/http.py", line 333, in _call_function
    return checked_call(self.db, *args, **kwargs

[2018-10-12 17:14] GrupoAlvamex commented on #194
I cancel all the transfers with this problem and

[2018-10-12 17:14] #194 closed, assigned to nobody

[2018-10-15 07:38] erictang0825 commented on #181
This issue is fixed?
i get the same error today!

[2018-10-17 13:24] ghost commented on #181
I think it's not

[2018-10-18 11:53] jaumeplanas commented on #181
I'm experiencing the same error `psycopg2.ProgrammingError: column ail.x_dimension_soc`.

After debugging a while, in `account.analytic.dimension.create` function, `model_names` contains a **set** of model names. Then, when executing `search` function, another unordered set is returned. In this recordset, *account.invoice.report* should be called **after** *account.invoice.line*, because the forme

[2018-10-19 12:00] robinhli commented on #181
I have both issue described above.
    raise psycopg2.OperationalError(msg)
psycopg2.OperationalError: Unable to use a closed cursor.

psycopg2.ProgrammingError: 错误:  字段 ail.x_dimension_product 不存在
LINE 46:         , ail.x_dimension_Product as x_dimension_Product, ai...

[2018-10-26 13:10] AaronHForgeFlow opened #198 "[10.0]account_analytic_parent. Debit, credit and balance computation is super slow."
When overriding the method that computes those fields here: https://github.com/OCA/account-analytic/blob/10.0/account_analytic_parent/models/account_analytic_account.py#L24 Odoo calls the same method for all the children and it gets extremely slow when the number of analytic accounts grow, specially with many children.

We can make those fields stored but then we have to make sure it is recomputed

[2018-10-26 13:21] pedrobaeza commented on #198
Use `read_group` for computing them. Your colleague @mreficent made something similar in contracts.

[2018-10-26 13:28] AaronHForgeFlow commented on #198
Ok thanks, @mreficent can you point me to that change? I could not find it in contracts.

[2018-10-26 13:32] MiquelRForgeFlow commented on #198
https://github.com/OCA/contract/pull/170/commits/402370f1cbe5cde6b484200f87596e9d803a36af#diff-3dc0d52ea9449a93459ef5b7fc36a060R19

[2018-10-26 14:18] AaronHForgeFlow commented on #198
Thanks @mreficent

[2018-10-26 14:55] AaronHForgeFlow commented on #198
Cannot group_by non stored fields. And read group does not return the values that are not in the group_by. I'll go for a query instead.

edit:I can read_group the analytic lines but that would be duplicating the core method

[2018-10-26 15:03] pedrobaeza commented on #198
@aheficent this has nothing to do with stored/non stored. Please use `read_group` properly.

[2018-10-26 15:09] AaronHForgeFlow commented on #198
Do you mean to read_group in the analytic lines and not call super instead?
update: I think I got it...

[2018-10-26 18:57] pedrobaeza commented on #198
Well, you limit the read_group in the domain to the `self.ids` scope.

[2018-12-04 04:45] anandkansagra commented on #189
analytic_base_department:- [PR](https://github.com/OCA/account-analytic/pull/209)

[2018-12-04 04:53] anandkansagra opened #210 "Improve analytic_base_department dependencies"
1) analytic_base_department depends on `account` as well as `analytic`.
    Code [Reference](https://github.com/OCA/account-analytic/blob/11.0/analytic_base_department/__manifest__.py#L11)

2) In ODOO base `analytic` is dependent on `account` so if `account` is installed then automatically `analytic` will be installed.
    Code [Reference](https://github.com/odoo/odoo/blob/11.0/addons/account/__ma

[2018-12-04 05:00] anandkansagra commented on #210
I have created a [PR](https://github.com/OCA/account-analytic/pull/211)
Also I have fixed that thing in code migration from `11.0` to `12.0` [PR](https://github.com/OCA/account-analytic/pull/209)

[2018-12-12 14:07] ilmir-k commented on #133
Hi guys!

We plan to migrate ``analytic_multicurrency`` to v11 but one of the dependency  - the module ``account_analytic_analysis`` - was removed since 9th version.
Does anybody know why? What a module provide the same functionality on v11?

Thanks

[2018-12-16 13:37] HannaRoosta opened #214 "Manufacturing order does not take analytic account from the Sales orders"
First of all I want to thank you for very useful App, but i have an issue that needs your help to solve it.
After setting analytic account in our Sales Orders when Manufacturing Order created based on the related SO, analytic account not shown in MO. It means you must check the MO one by one and add analytic account manually which takes time and it's very complex as lots of SO is created everyday.

[2018-12-17 08:56] pedrobaeza commented on #214
Which module? Which version?

[2018-12-24 12:46] #198 closed, assigned to nobody

[2018-12-25 10:23] HannaRoosta commented on #214
Dear Pedro

We use analytic for manufacturing module (mrp_analytic) for odoo enterprise version 11.

[2018-12-25 12:58] pedrobaeza commented on #214
And the module from this repo that you are using?

[2018-12-25 13:14] HannaRoosta commented on #214
Sorry i didn't understand what you mean, would you please explain more?

[2018-12-26 13:21] pedrobaeza commented on #214
Then you are confusing what is this repo. This a repository outside Odoo for hosting modules referring to analytic accounting. If your issue is with Odoo itself, and having enteprise contract, then please put a ticket in odoo.com/help.

[2018-12-26 13:21] #214 closed, assigned to nobody

[2018-12-27 22:27] emagdalenaC2i commented on #133
@pedrobaeza you can check mrp_analytic because it is merged in #186

[2019-02-01 06:32] ovnicraft opened #224 "12.0 Why not store parent on analytic parent module"
`account_analytic_parent` module was migrated to 12.0 so, odoo introduce a new algorithm to compute `_parent_store` https://github.com/odoo/odoo/blob/12.0/odoo/models.py#L2261

Could improve performance on analytics set `_parent_store = True` ?

[2019-02-05 00:50] ovnicraft commented on #224
@moylop260 WDYT about this?

[2019-02-05 00:56] pedrobaeza commented on #224
This is being done in #225

[2019-02-05 00:56] #224 closed, assigned to nobody

[2019-02-18 05:03] novawish commented on #189
Based on https://github.com/OCA/account-analytic/pull/204/commits/3138a6a8d0d9c2fe4bfab130bf96c8a40b14702b i believed the module **purchase_mto_analytic** is renamed to **procurement_mto_analytic**.

Correct me if i'm wrong, i'm doing the migration of that module and will submit PR soon.

PS: https://github.com/OCA/account-analytic/pull/226 submitted

[2019-02-18 08:36] pedrobaeza commented on #189
It seems so.

[2019-03-14 11:35] j-zaballa opened #229 "[11.0] Account Analytic Parent warning"
https://github.com/OCA/account-analytic/blob/527698c4dd993634b4b51890286a036dc294be82/account_analytic_parent/models/account_analytic_account.py#L82
Not a huge issue, but there is a warning concerning the `name_get` `@api.depends('name')` decorator:

`WARNING <db_name> odoo.fields: Field account.analytic.account.display_name depends on itself; please fix its decorator @api.depends().`

Question: ¿

[2019-03-23 02:56] bunhin opened #230 "[Question] - How to apply or setup for multidimensional anaylytic"
Dear All,

I assume or believe that this analytic-account repo is already capable for multi dimension analytic, but i am not be able to configure it correctly yet, please anybody help  so i can understand it correctly.  For more clear I use a sample case as below:

1 company  have  many brands of product,  customers,  and have many retail stores owned by the company.
the company make to order for

[2019-03-27 14:45] sudo-san opened #231 "[10.0][BUG] Analytic Parent Account calculates wrong debit credit and balance"
Hello,

We discovered a bug in account_analytic_parent that seems to be fixed in V11 but not in V10.

Steps to reproduce:

1. Create an Analytic Account "Parent" with no parent account
2. Create an Analytic Account "Child" with the account "Parent" as the parent account
3. Create a Customer Invoice (500$) with one invoice line and set the analytic account "Child" on that line.
4. Create a Vendor B

[2019-04-03 15:20] i-vyshnevska commented on #133
account_analytic_default_account in https://github.com/OCA/account-analytic/pull/232

[2019-04-29 13:47] jaumeplanas commented on #189
analytic_tag_dimension: #234

[2019-05-03 18:22] emagdalenaC2i commented on #189
@pedrobaeza Please mark as merged mrp_analytic - By @Beji94 - #201 By @bjeficent - #203

[2019-05-03 18:31] emagdalenaC2i commented on #133
@pedrobaeza Please, could yo add a note that analytic_department - By @Tonow-c2c - #167 is integrated in analytic_base_department

Also purchase_procurement_analytic > purchase_mto_analytic - By @gittusr - #204 and sale_procurement_analytic > purchase_mto_analytic - By @gittusr - #204 is renamed as procurement_mto_analytic

[2019-05-23 10:09] ghost opened #238 "12.0 Migration"
Hi all,
The analytic distribution is now standard in v12 version. Do you have tips in order to migrate data from this module to the standard one ?
Thanks

[2019-05-24 22:57] tbaden commented on #189
@OCA-git-bot product_analytic  https://github.com/OCA/account-analytic/pull/239

[2019-06-01 13:17] emagdalenaC2i commented on #189
Please, change stock_analytic - By @aheficent - #222 to #223

[2019-06-01 13:18] emagdalenaC2i commented on #133
@pedrobaeza account_analytic_default_account - By @i-vyshnevska - #232 is already merged

[2019-06-03 12:48] ghost opened #240 "procurement_mto_analytic V12"
There is a specific type of operation that is not covered.
When the analytic account is not set on the sale quotation, but the same sale order contains a product that generates a task in a new project and a product that generates the RFQ, as both actions are created at the same time (the new project with the analytic account related and the RFQ), the analytic account created is not copied on the R

[2019-06-16 00:36] pedrobaeza commented on #238
Well, you can include migration scripts in OpenUpgrade renaming models, tables, fields, etc and doing any possible manipulation.

[2019-06-16 00:36] #238 closed, assigned to nobody

[2019-07-01 21:36] fenavillarroel opened #245 "'partner': analytic.partner_id.commercial_partner_id.name,"
Dear.

I installed account_analytic_parent, but when a try to create a new analytic accoun, when a i select a mother o parent account i receive the follow error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/fernando/odoo-12-dev/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/fernando/od

[2019-07-15 10:20] jalzaga commented on #181
The error is still not fixed. I tried on runbot today and I obtained the following error
`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise

[2019-07-17 09:19] Dangar-Serpentcs commented on #189
analytic_tag_dimension_purchase_warning #246

[2019-07-26 16:54] max3903 opened #247 "[RFC] stock_analytic: Analytic account on transfers/scraps"
We would like to propagate the analytic account to the stock moves based on the transfer and scrap.

# stock.picking
- [ ] Add a many2one field "Analytic Account" (analytic_account_id)
- [ ] Extend create(): if the analytic account is set, update all the related stock moves with the same analytic account
- [ ] Extend write(): if the analytic account is updated, update all the related stock moves w

[2019-07-26 16:55] max3903 commented on #247
If people wants different accounts in the moves, then they just need to empty the field on the picking.

[2019-07-26 17:06] max3903 opened #248 "[12.0][ADD] stock_request_analytic"
This module allows you to set an analytic account on requests and request orders and push it to the generated transfers and moves.

# Technical Specifications

# Dependencies

- [ ] stock_analytic: https://github.com/OCA/account-analytic/issues/247

# stock.request

- [ ] Add a many2one field "Analytic Account" (analytic_account_id)
- [ ] Extend _prepare_procurement_values() to pass the analytic_a

[2019-07-29 07:22] AaronHForgeFlow commented on #248
Hi @max3903, this module is already available in v11 and v12 but in another repo:
https://github.com/OCA/stock-logistics-warehouse/tree/12.0/stock_request_analytic

[2019-07-29 13:31] max3903 commented on #248
@aheficent Thank you. Does it push the analytic account to the transfers and stock moves?

[2019-07-29 14:00] AaronHForgeFlow commented on #248
@max3903 yes :)

[2019-07-29 14:47] max3903 commented on #248
@aheficent Awesome. Thank you!. Have a great week.

[2019-07-29 14:47] #248 closed, assigned to max3903

[2019-07-29 15:24] AaronHForgeFlow commented on #248
Welcome! Have a great week you too.

[2019-09-29 21:25] OCA-git-bot opened #253 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] account_analytic_distribution_required @jimhoefnagels - #295
- [X] account_analytic_parent - By @pegonzalezspesol - #268
- [x] account_analytic_required - By @jimhoefnagels - #255
- [ ] account_analytic_sequence #271
- [ ] analytic_base_department #272
- [ ] analytic_partner #273
- [ ] analy

[2019-10-01 08:10] jimhoefnagels commented on #253
will migrate account_analytic_required https://github.com/OCA/account-analytic/pull/255

[2019-10-15 21:02] Jerther opened #257 "[12.0] stock_analytic: analytic_account_id field is read only!"
I went to a Odoo runbot for 12.0 and tried to do just as the README file says and the field is readonly:

![](https://i.imgur.com/AL9HkPl.gif)

[2019-10-16 08:33] AaronHForgeFlow commented on #257
The analytic account is editable on the stock.move (Operations tab), but not the stock.move.line (Detailed operations).

The analytic account is not readonly in the stock move. However, the field is not visible in the tree view inside the picking. I would accept that change if someone proposes a pull request.

[2019-10-16 12:02] Jerther commented on #257
I'll do just that then :wink:

[2019-10-17 14:16] #257 closed, assigned to nobody

[2019-10-24 09:02] #229 closed, assigned to nobody

[2019-10-30 10:39] Saran440 commented on #253
analytic_tag_dimension https://github.com/OCA/account-analytic/pull/264

[2019-11-06 13:18] syci commented on #181
I get the same error in runbot 11.0 right now
http://3393941-11-0-8d27bf.runbot1.odoo-community.org/web?debug=1#id=2&view_type=form&model=account.analytic.dimension&menu_id=274&action=390

![account_dimmension_err](https://user-images.githubusercontent.com/7081394/68301436-df9ea800-0097-11ea-8cae-093349cebc59.gif)

[2019-11-14 11:30] rjay1018 commented on #181
Same error

![err](https://user-images.githubusercontent.com/5526244/68853540-2b46f680-0715-11ea-9f76-df83a4d91eb7.png)

[2019-11-20 04:35] pegonzalezspesol commented on #253
working on account_analytic_parent #268

[2020-01-07 06:40] ps-tubtim commented on #253
Working on account_analytic_sequence https://github.com/OCA/account-analytic/pull/271

[2020-01-07 10:56] ps-tubtim commented on #253
Working on

- analytic_base_department https://github.com/OCA/account-analytic/pull/272
- analytic_partner https://github.com/OCA/account-analytic/pull/273
- analytic_partner_hr_timesheet https://github.com/OCA/account-analytic/pull/274

[2020-01-08 11:03] ps-tubtim commented on #253
Working on
- mrp_analytic https://github.com/OCA/account-analytic/pull/275
- procurement_mto_analytic https://github.com/OCA/account-analytic/pull/276
- product_analytic https://github.com/OCA/account-analytic/pull/277
- purchase_analytic https://github.com/OCA/account-analytic/pull/278
- purchase_request_analytic https://github.com/OCA/account-analytic/pull/279

[2020-01-09 03:32] ps-tubtim commented on #189
analytic_tag_dimension_sale_warning https://github.com/OCA/account-analytic/pull/280

[2020-01-17 15:46] rafaelbn opened #282 "[12.0] Analytic distribution after Account move based on timesheets"
Hi all,

- Take an account move of an invoice with analytic account (AA) and analytic tag (AT) of 400€.
- So we have 1 analytic item of 400€ to an specific AA and AT.
- But this is an invoice of a service that will be done after the invoice.
- So at the end of the month you see Employee A with 2 hours and Employee B with 2 hours so you want to distribute the analytic item of 400€ in 2 different on

[2020-01-22 14:27] CasVissers-360ERP opened #284 "[11.0/12.0] Stock analytic"
Hi all,

I think this commit:
https://github.com/odoo/odoo/commit/24c7efc8fef63437ac28883b29ed84809234ed76

Will break functionality of the module stock analytic?

Since the booking for the stock_account_output from the customer invoice will not contain an analytic account, the analytic account will never be balanced?

@max3903 @AaronHForgeFlow

[2020-01-22 14:46] AaronHForgeFlow commented on #284
I am afraid we will have to override this method in stock_analytic module :disappointed:

[2020-01-22 14:46] AaronHForgeFlow commented on #284
The original PR in Odoo https://github.com/odoo/odoo/pull/43654

[2020-01-23 06:55] CasVissers-360ERP commented on #284
I'm trying to get old functionality back, see odoo/odoo@24c7efc.

If they don't agree I think the only possibility is to override the method.

[2020-02-04 08:23] CasVissers-360ERP commented on #284
@AaronHForgeFlow
Shall I apply the fix suggested by @nim-odoo in odoo/odoo@24c7efc?

[2020-02-04 09:11] AaronHForgeFlow commented on #284
Yes, I think so. They did not revert the changes but at least they did the coding for us :)

[code]

[2020-02-04 11:48] CasVissers-360ERP commented on #284
@AaronHForgeFlow
Can you check #286? If ok I will make a PR for v11 as well.

[2020-02-20 15:02] dreispt opened #289 "[RFC] Product Sale Analytic?"
The `product_analytic` module allows you to set Analytic Accounts on Products, that will be automatically used on Invoice Lines. With this I can analyze invoices.

However I need a similar feature for Sale Orders.
It turns out that, while invoices have a many2one `analytic_account_id`, SO Lines have a many2many `analytic_line_ids`.

So, what should a `sale_product_analytic` module do?
Use the exis

[2020-03-13 08:04] #284 closed, assigned to nobody

[2020-03-20 12:55] jimhoefnagels commented on #253
working on  account_analytic_distribution_required (not in the list yet) #295

[2020-03-24 07:14] jimhoefnagels commented on #253
working on stock_analytic #298

[2020-03-30 15:02] mdemaison opened #301 "account analytic parent v12"
Hi,
juste a littre warn, after odoo11 to 12 migration i got a bug with name_get() method in account_analytic_account : KeyError: 'nom' (name in french), i remove the trad tags _()  in the method like this : ` if analytic.code:
                name = '[%(code)s] %(name)s' % {
                    'code': analytic.code,
                    'name': name,
                }
            if analytic.partn

[2020-05-04 15:54] SSanfilippo opened #302 "[12.0] Create invoice from sale"
Good morning at all, I have a installation in production of Odoo 12 community and using recurring contract to create invoice for periodically services.

When process the contract to create invoice from sale, I get an error on `sale\models\analytic.py`:

[code]

How I can resolve this problem? Is a bug or I wrong a configuration? With new year I passed from Odoo 11 to 12 (new installation).

Best r

[2020-05-15 11:15] santiago1976 commented on #158
Any update on this issue?

I confirm it doesn't work in Odoo 10 Community

I config a new dimension and assign a new label.

Then, I create a new invoice and assign this new label, but when I try to group by this dimension in analytic entries, it doesn't work

Thanks

[2020-05-15 19:59] rafaelbn commented on #253
Please, note that ` analytic_base_department` y not needed anymore (IMO) as Odoo already have that field in core.

![2020-05-15_21-32-12](https://user-images.githubusercontent.com/8736623/82091232-4829aa00-96f7-11ea-984d-57734721fe87.png)

[2020-05-26 06:48] CasVissers-360ERP commented on #253
Think this should be updated, already merged:

stock_analytic in #285
mrp_analytic in #275
product_analytic in #277
procurement_mto_analytic in #276
purchase_analytic in #278
account_analytic_parent in #268

In addition some PR's are not linked.

[2020-06-19 14:21] Martronic-SA commented on #189
It looks like "account_analytic_default_account" does not appear in the migration list.
Any reason for that?

[2020-08-19 08:53] tobru commented on #189
I miss `analytic_partner_hr_timesheet_invoice` in the "Modules to migrate" list, is this by intention?

[2020-08-28 11:09] cloudition opened #316 "Analytic Report - Error: 'active_ids' is not defined"
https://github.com/OCA/account-analytic/blob/6368c83cc6ffa16ccf9b28930cd344f5af67f8c4/account_analytic_parent/views/account_analytic_account_view.xml#L34

This line is causing a error when you go to "Accounting" -> "Reporting" -> "Analytic Report". Open the dropdown of a report line and click on "Analytic Entries".

[code]

[2020-08-28 12:42] astirpe commented on #316
@cloudition I'm not able to reproduce the issue in Odoo 12.0 on Runbot.
Domain `[('account_id', 'child_of', active_ids)]` seems working to me.

[2020-08-28 12:53] cloudition commented on #316
@astirpe Thx for the quick answer. It seems to be a interaction between the OCA `account_analytic_parent `module and the enterprise `account_reports `module... The error only occures when you go to Enterprise "Accounting" -> "Reporting" -> "Analytic Report". Open the dropdown of a report line and click on "Analytic Entries".

[2020-08-28 13:12] astirpe commented on #316
OK I reproduced it locally. :+1:
Please check my code review in https://github.com/OCA/account-analytic/pull/317

[2020-09-01 19:39] Jerther commented on #253
@CasVissers-360ERP stock_account was merged in #298 :wink:

[2020-09-07 06:56] #316 closed, assigned to nobody

[2020-09-15 09:49] sergiocorato opened #320 "[12.0] MRP created from sale with analytic account"
AFAIK analytic account is not filled in MO created from SO. If so, I'll propose a PR.

[2020-09-15 14:21] sergiocorato commented on #320
https://github.com/OCA/account-analytic/pull/321

[2020-09-30 06:27] fgarcia-humanoide commented on #253
pos_analytic_config

[2020-10-04 10:18] OCA-git-bot opened #324 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_analytic_default_account - By @Reyes4711-S73 - #495
- [x] account_analytic_distribution_required - By @ernestotejeda - #429
- [x] account_analytic_no_lines - By @alexis-via - #422
- [ ] account_analytic_parent
- [ ] account_analytic_required
- [ ] account_analytic_tag_default - By @J

[2020-10-27 13:00] pedrobaeza commented on #158
Is this still happening? At least in upper versions is not happening.

[2020-10-27 13:17] pedrobaeza commented on #181
This was fixed in 1178e14ba796c5d28f2605761b5f7119b02fd445. I'm closing now. Please check and if not, please reply.

[2020-10-27 13:17] #181 closed, assigned to nobody

[2020-12-10 20:36] dreispt commented on #324
mrp_analytic #343

[2020-12-22 01:11] gjlong68 opened #346 "Mrp analytic"
Add move lines and fill analytic account and analytic tags fields

[2020-12-22 07:12] pedrobaeza commented on #346
What do you mean?

[2020-12-22 07:26] gjlong68 commented on #346
mrp analytic improve,see the attachment for further information

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; goodluck

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "OCA/account-analytic"

[2020-12-22 07:27] pedrobaeza commented on #346
There's no attachment, but this is for issues or blueprints, or at least explained wishlist, not only 2 sentences.

[2020-12-22 07:33] gjlong68 commented on #346
Add analytic account to a production-related entry:

1、OCA App Install:

2、Create Manufacture Order (Analytic Account)：

Valuation

3、Account Move： Take analytic account to the account move line

&nbsp;

主题:&nbsp;Re: [OCA/account-analytic] Mrp analytic (#346)

There's no attachment, but this is for issues or blueprints, or at least explained wishlist, not only 2 sentences.

—
You are receiving thi

[2020-12-22 07:34] pedrobaeza commented on #346
There are no images the way you are sending your replies.

[2020-12-28 11:27] dreispt opened #347 "[14.0][RFC] analytic_activity_based_cost: Anaytic Items for Activity Based Costing"
# Description

Generate Activity Based Costs (ABC), using Analytic Items.

Activity Based Costing is a well documented technique to assign indirect costs to the the activities identified as cost drivers.
This feature models cost driver usage as Analytic Items.
When an Analytic Item is created, it may then generate additional Analytic Items for the corresponding indirect costs.
For example, each ti

[2020-12-28 11:27] dreispt commented on #347
This is related to https://github.com/OCA/account-analytic/issues/347

[2021-01-08 12:44] hitrosol opened #349 "Only assigned Analytical Account on Income Account, not for COGS using pos_analytic_by_config"
If we put the Analytical Account in Sales Order module then the same analytical account will be assigned to the Invoice  at Income, COGS and Stock Interim Accounts, assuming the Product set as Automated Inventory Valuation and Anglosaxon method.

But after I installed the pos_analytic_by_config, I see the analytical account in the Income Account only.
![image](https://user-images.githubusercontent

[2021-01-28 08:13] rousseldenis opened #354 "analytic_activity_based_cost: Wrong field"
See: https://travis-ci.com/github/OCA/account-analytic/jobs/477531348

analytic line has no project_id field.

@Chandresh-SerpentCS @dreispt

[2021-02-11 16:14] binhexsystems commented on #324
Hi, we want to participate on this migration

[2021-03-29 10:34] albertogallegoir opened #367 "Analytic Tags"
I want to have a tag with analytical distribution but that I can choose if that distribution is used or 100% is assigned to the analytical account that I indicate.
Is ti possible with some module?

[2021-03-29 10:35] pedrobaeza commented on #367
This issue tracker is for tracking issues with modules in this repository, not for general questions.

[2021-03-29 10:35] #367 closed, assigned to nobody

[2021-03-29 10:37] albertogallegoir commented on #367
Sorry

[2021-04-26 08:17] chienandalu opened #370 "[13.0] account_analytic_required: faling tests on main branch"
13.0 tests failing in main branch https://travis-ci.com/github/OCA/account-analytic/jobs/500780750 (probably due to some upstream change)

[2021-05-03 15:15] vbezl opened #372 "[13.0] [BUG] product_analytic - does not work for expense analytic account"
Hi everyone,

If you set expense analytic account for product category (or product) - it doesn't use it in vendor bill.

Code:
models/account_move.py
line 34: inv_type = self.env.context.get("inv_type", "out_invoice")

Context doesn't have "inv_type" - you should get it from move_id.type instead!

[2021-05-28 09:25] petrus-v commented on #324
I'm porting account_analytic_sequence from v12.0 => https://github.com/OCA/account-analytic/pull/383

[2021-06-07 06:21] rousseldenis opened #385 "[14.0] analytic_activity_based_cost: Wrong field in onchange - runbot red"
@dreispt Could you fix this as runbot is red ?

![image](https://user-images.githubusercontent.com/19529533/120968549-4c44c180-c769-11eb-8476-f3aede6edf86.png)

[2021-07-12 08:39] baimont opened #392 "[13.0] analytic_tag_dimension write"
Hi,

I had a problem on a particular line of code following this commit:
https://github.com/OCA/account-analytic/commit/7638f78b1f74f4d5c23e526a241ffc3c62dbfec4#diff-6310b4c28c47b180178a9fdcc6259bec67db74515cdf77867ffc19c9b85d0677

The line is:
https://github.com/OCA/account-analytic/blob/5692b4cf2dcf9ea6e9102e4a89a506d8aaabb9a5/analytic_tag_dimension/models/analytic_dimension_line.py#L23

This li

[2021-07-12 09:54] pedrobaeza commented on #392
Pass the stacktrace you get and the content of the `vals` dictionary.

[2021-07-12 12:04] baimont commented on #392
Stacktrace:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/benoit/.virtualenvs/odoo-eri/lib/python3.6/site-packages/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/benoit/.virtualenvs/odoo-eri/lib/python3.6/site-packages/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(t

[2021-07-12 12:06] pedrobaeza commented on #392
It seems very weird, as the write is always normalized. It seems you have other modules that denormalizes the passed vals.

[2021-07-20 21:04] Jerther commented on #324
A PR exists for stock_analytic: https://github.com/OCA/account-analytic/pull/353

[2021-10-04 08:27] herfjord opened #401 "Feature request"
module: stock_analytic
version: 14.0

**Steps to reproduce**
- ...

**Current behavior**
The module is adding the analytic fields to stock moves as anticipated, and track the cost moves correctly

**Expected behavior**
It would be extremely handy if the fields were auto-populated when the stock move is generated by a sales order with an analytic account set upon confirmation

[2021-10-17 10:12] OCA-git-bot opened #404 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_analytic_distribution_required - By @bizzappdev - #513
- [x] account_analytic_parent - By @Dariosi - #434
- [x] account_analytic_required - By @schout-it - #436
- [x] account_analytic_tag_default - By @JasminSForgeFlow - #444
- [ ] account_analytic_wip
- [x] analyic_tag_dimension - B

[2021-10-20 07:06] rousseldenis commented on #324
Will do stock_inventory_analytic

[2021-11-28 12:33] #43 closed, assigned to nobody

[2021-11-28 12:33] #54 closed, assigned to nobody

[2021-11-28 12:33] #70 closed, assigned to nobody

[2021-11-29 21:25] alan196 commented on #404
I will be working in module purchase_analytic from V13 https://github.com/OCA/account-analytic/pull/414

[2021-11-29 23:08] alan196 commented on #404
procurement_mto_analytic in https://github.com/OCA/account-analytic/pull/415

[2021-12-12 12:34] #133 closed, assigned to nobody

[2021-12-19 12:35] #135 closed, assigned to nobody

[2022-01-04 12:04] AsierAcedo commented on #324
purchase_analytic #424

[2022-01-09 12:36] #157 closed, assigned to nobody

[2022-01-16 12:36] #158 closed, assigned to nobody

[2022-01-16 12:36] #185 closed, assigned to nobody

[2022-01-16 12:36] #189 closed, assigned to nobody

[2022-01-23 12:33] #210 closed, assigned to nobody

[2022-01-24 11:01] gaikaz commented on #404
@Dariosi will work on `account_analytic_parent` and `product_analytic` migrations

[2022-01-28 17:41] Dariosi commented on #404
account_analytic_parent #434

[2022-01-28 17:58] Dariosi commented on #404
product_analytic #435

[2022-01-30 12:31] #230 closed, assigned to nobody

[2022-02-01 09:50] schout-it commented on #404
account_analytic_required #436

[2022-02-06 12:31] #231 closed, assigned to nobody

[2022-02-10 23:44] celm1990 opened #437 "account_analytic_required: policy by account.account"
Hi, I begin use this module

If my policy is `always `so all accounts from same `account.account.type` are restricted.
I whish can configure `policy `on `account.account` level
Priority can be:

`account.account` if it is Set else take from `account.account.type`

Goal is can skip restriction for some `accounts `into same `account type`

What do you think???

[2022-02-11 07:58] luc-demeyer commented on #437
You can have a look at https://github.com/Noviat/noviat-apps/tree/13.0/account_analytic_dimension_policy.

I also have no problem if you propose this module to the OCA (but will require a bit of work, e.g. adding unit tests).

Luc

From: Carlos Lopez ***@***.***>
Sent: Friday, 11 February 2022 00:45
To: OCA/account-analytic ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [OCA/account-analytic] a

[2022-02-11 13:23] celm1990 commented on #437
@luc-demeyer i see your module and working as i expected
I review, add test and purpose PR here in few days

Thanks so much.

[2022-02-27 12:33] #240 closed, assigned to nobody

[2022-03-06 12:34] #245 closed, assigned to nobody

[2022-03-06 12:34] #247 closed, assigned to max3903

[2022-03-13 12:34] #253 closed, assigned to nobody

[2022-03-20 12:34] #282 closed, assigned to nobody

[2022-03-20 12:34] #289 closed, assigned to nobody

[2022-03-28 06:40] #320 closed, assigned to nobody

[2022-03-31 05:47] E4O opened #445 "_io.BufferedReader' object has no attribute 'decode'"
When I try to add a submodule account-analytic or stock-logistics-workflow to Odoo.sh Settings, I will get an error:
 _io.BufferedReader' object has no attribute 'decode'

Steps to reproduce the behavior:
1. Add Submodule git@github.com:OCA/account-analytic.git to Odoo.sh (v14).
2. Run submodule on staging.

There shouldn't be errors during this. Odoo referred to this solution:
https://programmerc

[2022-03-31 13:00] javidiez opened #446 "[14.0] mrp_analytic_sale_project does not work"
The analityc account does not appear in the manufacturing order when the sale order is confirmed, with a service product that create a project (without a task).

[2022-04-12 11:25] Mantux11 commented on #404
stock_analytic #448

[2022-04-14 13:36] etoimene commented on #401
Have you tried sale_stock_analytic?

[2022-04-17 12:37] #301 closed, assigned to nobody

[2022-04-18 06:54] E4O commented on #445
Still no feedback!

[2022-04-18 06:59] pedrobaeza commented on #445
This has nothing to do with the module itself, it's your deployment technique, so closing. Please ask in forums.

[2022-04-18 06:59] #445 closed, assigned to nobody

[2022-04-20 11:16] dreispt commented on #347
This was implemented.

[2022-04-20 11:16] #347 closed, assigned to nobody

[2022-04-24 12:37] #302 closed, assigned to nobody

[2022-05-09 09:06] herfjord commented on #401
Thanks! I'll look into it :)

[2022-05-09 09:06] #401 closed, assigned to nobody

[2022-05-16 17:50] #385 closed, assigned to nobody

[2022-05-22 12:40] #346 closed, assigned to nobody

[2022-05-29 12:40] #349 closed, assigned to nobody

[2022-05-29 12:40] #354 closed, assigned to nobody

[2022-06-02 16:24] Jerther opened #460 "Discussion on mrp_analytic migration to 15.0"
Discussion for https://github.com/OCA/account-analytic/issues/404

A field for an analytic account in mrp.production has been introduced in 15.0, which, I believe, renders this module obsolete, or at the very least, conflicting.

https://github.com/odoo/odoo/blob/15.0/addons/mrp_account/models/mrp_production.py#L21

Is migration still worth it? What do you think @dreispt ?

[2022-06-05 12:37] #370 closed, assigned to nobody

[2022-06-07 09:07] Camille0907 commented on #404
`analytic_base_department` https://github.com/OCA/account-analytic/pull/461

[2022-06-12 12:36] #372 closed, assigned to nobody

[2022-06-17 07:37] marylla opened #464 "[13.0/14.0] stock_inventory_analytic: In stock inventory line tree view the group for "analytic_tag_ids" should be "group_analytic_tags"."
## Module
stock_inventory_analytic

## Describe the bug
You can see the field "Analytic Tags" in tree view of stock inventory lines even though you don't have the group for analytic tags (only for analytic accounts).

https://github.com/OCA/account-analytic/blob/14.0/stock_inventory_analytic/views/stock_inventory_line_view.xml#L17
The group "analytic.group_analytic_accounting" is wrong for the fie

[2022-06-26 12:38] #392 closed, assigned to nobody

[2022-07-05 16:27] BT-apadron commented on #404
mrp_analytic https://github.com/OCA/account-analytic/pull/468

[2022-09-18 12:48] #437 closed, assigned to nobody

[2022-09-18 14:24] flachica commented on #404
`account_analytic_wip` #480

[2022-09-18 14:31] flachica commented on #404
`analytic_activity_based_cost` #481

[2022-09-28 13:43] Jerther commented on #460
Forget this Issue. Odoo does not link account moves to analytic accounts, and mrp_analytic fills the gap.

Version 15 has been merged 29 days ago: https://github.com/OCA/account-analytic/pull/450

[2022-09-28 13:43] #460 closed, assigned to nobody

[2022-10-03 16:18] sbidoul opened #489 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] account_analytic_parent - By @mohammadazeem786 - #501
- [ ] account_analytic_required - By @nguyenminhchien - #541
- [x] account_analytic_sequence - By @victoralmau - #629
- [ ] account_analytic_tag_default
- [x] account_move_update_analytic - By @hbrunn - #559
- [ ] analytic_activity_based_

[2022-10-18 07:13] kjoeldevk commented on #404
analytic_partner

[2022-10-18 13:57] KM-joel commented on #404
Migration to version 15.0
analytic_partner #492

[2022-10-29 23:32] KM-joel commented on #489
Migration to version 16.0
- mrp_analytic #494
@sbidoul

[2022-11-06 12:43] #446 closed, assigned to nobody

[2022-11-24 11:17] mohammadazeem786 commented on #489
Migration to version 16.0

- account_analytic_parent https://github.com/OCA/account-analytic/pull/501